@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
/* Shared Styles */
:root {
  --white-color: #f7f7f7;
  --sky-blue: #01acfd;
  --orange: #fea301;
  --dark-orange: #e69400;
  --black: #111111;
}
.flex {
  display: flex;
}
.primary-btn {
  font-family: "Quicksand", sans-serif;
  padding: 10px 60px;
  background-color: var(--orange);
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.875rem;

  /* === Effect Base Styles === */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.primary-btn:hover {
  /* 1. Color Deepening */
  background-color: var(--dark-orange); /* Changes to the darker shade */
  font-weight: 700;
  /* 2. Shadow & Lift Effect */
  transform: translateY(-4px); /* Moves the button 4px up */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Adds a larger, prominent shadow */
}
body {
  background-color: var(--white-color);
}
.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 2.875rem;
  line-height: 3.59rem;
  color: #000000;
  margin-bottom: 80px;
}
/* Navbar Styles */

.navbar,
.banner {
  max-width: 1160px;
  margin: 0 auto;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.logo-items {
  align-items: center;
}
.nav-items {
  gap: 32px;
  align-items: center;
}
.nav-item {
  list-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.nav-link {
  text-decoration: none;
  padding-bottom: 4px;
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0; /* Line starts from the left */
  height: 3px; /* Thickness of the underline */
  width: 0; /* Initial state: Line is invisible (zero width) */

  /* MOST IMPORTANT: The slow transition effect */
  transition: width 0.5s ease-in-out;
}

/* --- 4. Applying the Underline Color --- */
#home::after {
  background-color: var(--orange);
}
#about::after {
  background-color: var(--sky-blue);
}
#facilities::after {
  background-color: #05d4df;
}
#admission::after {
  background-color: #5d58ef;
}

/* --- 5. The Hover Effect --- */
.nav-link:hover::after {
  width: 100%; /* Line expands completely (left to right) */
}
.nav-title {
  font-weight: 700;
  font-size: 2rem;
  color: var(--black);
  line-height: 1.875rem;
  margin-left: 11px;
  text-transform: uppercase;
}
#home {
  color: #fea301;
}
#about {
  color: #01acfd;
}
#facilities {
  color: #05d4df;
}
#admission {
  color: #5d58ef;
}
.fa-bars {
  display: none;
}
/* Banner Styles */
.banner {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.banner-content {
  width: 640px;
}
.banner-title {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3.8125rem;
  margin-bottom: 24px;
}
.empower {
  color: var(--orange);
}
.towards {
  color: var(--sky-blue);
}
.banner-description {
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--black);
  margin-bottom: 24px;
}
#enroll-btn,
#view-btn {
  background-color: var(--black);
  font-weight: 700;
}
#enroll-btn:hover,
#view-btn:hover {
  background-color: #181818;
  font-weight: 800;
}
.banner-img {
  width: 100%;
}
.custom-hr {
  display: none;
}
/* Main Section */
main {
  background-image: url("../assets/bg.png");
  background-repeat: repeat;
}
.main {
  max-width: 1160px;
  margin: 0 auto;
}
main section {
  padding-bottom: 120px;
}
/* Standard Curriculum Section */

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 28px;
  margin-bottom: 80px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 52px 40px;
  border-radius: 18.86px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.card:hover {
  transform: translateY(-20px); /* Moves the card 20px up */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
#card-1 {
  box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05), 0 0 0 0.94px #def5ff;
  background: linear-gradient(
    to bottom,
    rgba(222, 245, 255, 1) 0%,
    rgba(255, 255, 255, 0) 40%
  );
  background-color: #ffffff;
}
#card-2 {
  box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05), 0 0 0 0.94px #fff4dc;
  background: linear-gradient(
    to bottom,
    rgba(255, 244, 220, 1) 0%,
    rgba(255, 255, 255, 0) 40%
  );
  background-color: #ffffff;
}
#card-3 {
  box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05), 0 0 0 0.94px #f2e8ff;
  background: linear-gradient(
    to bottom,
    rgba(238, 225, 255, 1) 0%,
    rgba(255, 255, 255, 0) 40%
  );
  background-color: #ffffff;
}
.card-image {
  width: 137px;
  height: 137px;
}
.card-img {
  width: 100%;
}
.card-title {
  margin-top: 32px;
  margin-bottom: 33px;
  font-weight: 700;
  font-size: 1.5325rem;
  line-height: 1.91875rem;
  color: #202020;
}
.card-description {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #808080;
  font-size: 0.94rem;
  line-height: 1.76875rem;
  margin-bottom: 33px;
}
.read-btn {
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 0.94rem;
  line-height: 1.76875rem;
  font-family: "Quicksand", sans-serif;
  padding-bottom: 3px;
  position: relative;
}
.read-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  transition: width 0.5s ease-in-out;
}
#btn-1 {
  color: #64c8ff;
}
#btn-2 {
  color: #f0aa00;
}
#btn-3 {
  color: #8700ff;
}
#btn-1::after {
  background-color: #64c8ff;
}
#btn-2::after {
  background-color: #f0aa00;
}
#btn-3::after {
  background-color: #8700ff;
}
.read-btn:hover::after {
  width: 100%;
}
.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.arrow-left,
.arrow-right {
  padding: 19px 23px;
  border-radius: 50%;
  border: none;
  background-color: var(--orange);
}
.fa-chevron-left,
.fa-chevron-right {
  color: #ffffff;
  font-size: 1.5rem;
}
/* Our stories section */
.our-stories-section {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(254, 163, 1, 0.3) 100%
  );
}
.our-story {
  max-width: 1160px;
  margin: 0 auto;
}
#story-title {
  font-size: 1.5rem;
  line-height: 2.39375rem;
  margin: 58px 38px 0px 38px;
}
.story-tag {
  display: inline-block;
  position: absolute;
  left: 38px;
  bottom: 137px;
  padding: 10px 20px;
  background-color: #3cd8e8;
  color: #ffffff;
  font-size: 0.95875rem;
  line-height: 1.8rem;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 48px;
}
#story1-tag {
  bottom: 287px;
}
#story2-tag,
#story3-tag {
  bottom: 110px;
}
#story2-tag,
#story4-tag,
#story5-tag {
  background-color: #95b226;
}
#story3-tag {
  background-color: #5d58f0;
}
.story-title {
  font-size: 0.95rem;
  line-height: 1.8rem;
  font-weight: 700;
  color: #000000;
  margin: 39px 54px 33px 38px;
}
.story-description {
  font-family: "Raleway", sans-serif;
  font-size: 0.958rem;
  line-height: 1.8rem;
  color: #666666;
  margin: 47px 68px 24px 38px;
  font-weight: 500;
}
.story-1 {
  grid-area: story-1;
}
.story-2 {
  grid-area: story-2;
}
.story-3 {
  grid-area: story-3;
}
.story-4 {
  grid-area: story-4;
}
.story-5 {
  grid-area: story-5;
}
.stories {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "story-1 story-2 story-3"
    "story-1 story-4 story-5";
  gap: 19px;
  margin-bottom: 88px;
}
.story {
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.story-img {
  width: 100%;
}
#view-btn {
  display: block;
  margin: 0 auto;
}
/* Footer styles */
Footer {
  background-color: var(--sky-blue);
  color: #ffffff;
}
.footer {
  max-width: 1160px;
  margin: 0 auto;
  padding: 123px 0px 174px 0px;
  justify-content: space-between;
  align-items: center;
}
.logo-content {
  width: 400px;
}
.logo-title-content {
  align-items: center;
  margin-bottom: 35px;
  gap: 11px;
}
.logo-title {
  font-weight: 700;
  font-size: 2.63rem;
  line-height: 2.468rem;
}
.logo-description {
  font-weight: 400;
  font-size: 1.25rem;
}
.about-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 32px;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item {
  list-style: none;
}
.link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 1.25;
  font-weight: 500;
  padding-bottom: 3px;
  position: relative;
}
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0.4s ease-in-out;
  background-color: #ffffff;
}
.link:hover::after {
  width: 100%;
}
.keep-title {
  font-size: 1.625rem;
  line-height: 1.625rem;
  font-weight: 700;
  margin-bottom: 32px;
}
@media screen and (max-width: 576px) {
  .navbar,
  .banner {
    max-width: 357px;
  }
  .navbar {
    margin-left: 17px;
    margin-right: 17px;
  }
  .nav-title {
    display: none;
  }
  .nav-item {
    display: none;
  }
  .fa-bars {
    display: block;
    font-size: 1.875rem;
  }
  .logo {
    width: 46px;
    height: 46px;
  }
  #contact-btn {
    display: none;
  }
  /* Banner responsive styles */
  .banner {
    flex-direction: column-reverse;
  }
  .banner-img-container {
    margin: 20px 10px 20px 10px;
  }
  .custom-hr {
    display: block;
    color: var(--orange);
    border-top: 0.5px solid;
  }
  .banner-content {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .banner-title {
    text-align: center;
    font-size: 2rem;
    line-height: normal;
  }
  .banner-description {
    text-align: center;
    font-weight: 500;
    font-size: 0.77rem;
  }
  #enroll-btn,
  #view-btn {
    display: block;
    margin: 0 auto;
    padding: 6px 24px;
    font-size: 1rem;
  }
  main {
    max-width: 357px;
  }
  main > section {
    margin-bottom: 60px;
  }
  .section-title {
    font-size: 1.625rem;
    line-height: normal;
    margin-bottom: 20px;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 12px;
    margin-left: 17px;
    margin-right: 17px;
  }
  .card-title {
    font-size: 1rem;
    line-height: 1.3rem;
    margin-bottom: 22px;
  }
  .card-description {
    font-size: 0.638rem;
    line-height: 1.2rem;
    margin-bottom: 22px;
  }
  .read-btn {
    font-size: 0.638rem;
    line-height: 1.2rem;
  }
  .arrow-btn {
    display: none;
  }
  .story-1 {
    display: none;
  }
  .stories {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: unset;
    margin-bottom: 20px;
  }
  .story-1,
  .story-2,
  .story-3,
  .story-4,
  .story-5 {
    /* Unset is important so they flow naturally in the 2-column grid */
    grid-area: unset;
  }
  .story-title {
    font-size: 0.57rem;
    line-height: 1.06rem;
    margin: 26px 23px 20px 23px;
  }
  .story-tag {
    font-size: 0.57rem;
    line-height: 1.068rem;
    padding: 6px 11px;
    bottom: 73px;
    left: 22px;
  }
  #story2-tag,
  #story3-tag {
    bottom: 70px;
  }
  .footer {
    max-width: 357px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  .logo-content {
    width: 357px;
  }
  .logo-title {
    font-size: 2.23rem;
  }
  .logo-description {
    font-size: 1rem;
    padding-right: 16px;
  }
  .items {
    gap: 17px;
  }
  .about-title {
    font-size: 1.27rem;
    margin-bottom: 28px;
  }
  .keep-title {
    font-size: 1.377rem;
    line-height: 1.375rem;
  }
}
